{% extends "app/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/detailpage_style.css' %}" />
{% endblock %}
{% block title %}DetailPage : {{ trend.repo }}{% endblock %}
{% block content %}
    <h3>repository name</h3>
    <h2>
        <img src="{% static 'app/img/book.png' %}" height="28"/> <a href="https://github.com/{{ trend.repo }}">{{ trend.repo }}</a>
    </h2>
<ul class="pagehead-actions">
<li class="social-count watch">
<span>Watch <img src="{% static 'app/img/eye.png' %}" height="28"/> : </span>{{ trend.watch }}
</li>
<li class="social-count total_star">
<span>Star <img src="{% static 'app/img/star.png' %}" height="28"/> : </span>{{ trend.total_star }}
</li>
<li class="social-count fork">
<span>Fork <img src="{% static 'app/img/fork.png' %}" height="28"/> : </span>{{ trend.fork }}
</li>
</ul>
<h3>README.md</h3>
<div class="detail_desc rounded">
    <pre>{{ trend.detail_desc }}</pre>
</div>
{% endblock %}
