{% extends "app/base.html" %}
{% load static %}
{% block extra_header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>To create a world<br>where everyone can maximize their<br>life's potential.</h1>
    </div>
</div>
{% endblock %}
{% block title %}Index Page{% endblock %}
{% block content %}
    <h2>Github Trend</h2>
<div class="trend-list">
{% for trend in trend_list %}
    <div class="trend-repo rounded">
        <a href="{% url 'app:detail' trend.pk %}" title="{{ trend.desc }}">{{ trend.repo }}<span>{{ trend.star }} stars today</span></a>
    </div>
{% endfor %}
</div>
{% endblock %}
{% block extra_js %}<script src="{% static 'app/js/index.js' %}"></script>{% endblock %}
