html
  body
    ol
    - for(var i = 0; i < lists.length ; i++){
      li
        a(href="/detail?repo="+encodeURIComponent(lists[i].link.slice(1))) #{lists[i].repo}
        p #{lists[i].description}
        p #{lists[i].star}
        p #{lists[i].fork}
    - }