<div class="main top-main">
  <div class="inner-bg">
    <div class="top-message">
      <h1>TrendMil</h1>
      <p>githubのトレンドをすばやくチェック</p>
    </div>
    <div class="top-detail">
      <a class="btn" href="/trends/index">今すぐトレンドを確認</a>
    </div>
  </div>
</div>