body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.my-block {
	display: block;
	list-style-type: none;
	border: 2px solid #00ffff;
	padding: 4px;
	margin: 4px;
	background-color: #eee;
}

.lang-circle {
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: inline-block;
}

.btn-user {
	padding: 3px 6px;
}

.d-git {
	margin: 4px;
}

.btn-git {
	background-color: forestgreen;
}
