// メインフォントカラー
$main-font-color: #2d3133;
// サブフォントカラー
$sub-font-color: #afb6bf;
// ヘッダーや送信ボタンの背景色
$main-color: #3F4B83;//#3ecdc6;
// bodyの背景色
$bg-color: #f5f8fa;
// リンクをホバーしたときの色
$link-hover-color: #41a4c3;//#3ecdc6;
// 編集と削除のリンク色
$edit-color: #8899a6;
