<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Github Trending</title>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/assets/bootstrap-3.3.7-dist%202/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/main-style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>{{.Title}}</h1><br>
    <h2>README: </h2>
    <div class="well well-lg">
    {{.Readme}}
    </div>
    </form>
    <a href="/" class="btn btn-black btn-lg" role="button">戻る</a>
</div>

<script src="/assets/bootstrap-3.3.7-dist%202/js/bootstrap.min.js"></script>
</body>
</html>
