<ul id="dropdown" class="dropdown-content">
    <li><a href="{% url 'trend' %}?since=today">today</a></li>
    <li><a href="{% url 'trend' %}?since=week">week</a></li>
    <li><a href="{% url 'trend' %}?since=month">month</a></li>
</ul>
<nav>
    <div class="nav-wrapper orange">
        <a href="{% url 'trend' %}" class="brand-logo">GiTrend</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" data-target="dropdown" data-activates="dropdownTop">Select Date
                <i class="material-icons right">arrow_drop_down</i></a>
            </li>
        </ul>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems);
    });
</script>