{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<br>
<br>
{% if since == 'today' %}
 <h1 class="collection-header center">Today Trending</h1>
{% elif since == 'week' %}
 <h1 class="collection-header center">Week Trending</h1>
{% elif since == 'month' %}
<h1 class="collection-header center">Month Trending</h1>
{% endif %}
<br>


<ul class="collection">
    {% for content in result_contents %}
    <li class="collection-item avatar">
        <a href="{% url 'detail' %}?title={{ content.title }}"><span class="title"><h5 >{{ content.title }}</h5></span></a>
        <p>
            {{content.description}}
        </p>

        <div class="secondary-content">
            {% if content.language != '' %}
            <p class="badge"><i class="tiny material-icons">brightness_1</i>{{ content.language }}</p>
            {% endif %}
            <p class="badge"><i class="tiny material-icons">grade</i>{{ content.star }}</p>
            <p class="badge"><i class="tiny material-icons">share</i>{{ content.fork }}</p>
        </div>


    </li>
    {% endfor %}
</ul>


{% endblock %}